.xx-message {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  padding: 10px 16px;
  border-radius: var(--xx-radius-sm);
  color: #fff;
  font-size: var(--xx-font-size-md);
  box-shadow: 0 10px 30px rgb(0 0 0 / 15%);
}

.xx-message--info {
  background: #909399;
}

.xx-message--success {
  background: #67c23a;
}

.xx-message--error {
  background: var(--xx-color-danger);
}
